:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.95);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* 标题样式 */
.title {
    font-size: 1.5em;
    font-weight: 600;
    margin: 1em 0;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.rounded-corner {
    border-radius: 5px;
}

/*popup选项框文字*/
.popup-text {
    font-size: 15px;
    font-weight: 500;
}

.popup-vertical-left {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
}

.margin-left-2em {
    margin-left: 2em;
}

.margin-bottom {
    margin-bottom: 10px;
}

.custom-padding {
    padding: 10px !important;
}

#app {
    min-width: 340px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

/* 暗色主题特定样式 */
@media (prefers-color-scheme: dark) {
    :root {
        color: rgba(255, 255, 255, 0.95);
        background-color: #242424;
    }
    
    .title {
        color: #fff;
    }
    
    .popup-text {
        color: rgba(255, 255, 255, 0.95);
    }
}

/* 亮色主题特定样式 */
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    
    .title {
        color: #213547;
        text-shadow: none;
    }
}
