{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "semi": true,
  "experimentalTernaries": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "proseWrap": "preserve",
  "insertPragma": false,
  "printWidth": 80,
  "requirePragma": true,
  "useTabs": true,
  "embeddedLanguageFormatting": "auto",
  "tabWidth": 2
}